/* position:relative When we use this property/value we can put the bullets in the right place.
   overflow:hidden Resolves the scrolling, making the element not "overflowing" its box 
   rem= %16*/  

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@700;900&display=swap');

/*==== RESET =======*/
* {
    margin: 0;
    padding: 0; /*preencimento*/
    box-sizing: border-box;/* tamanho da caiXa é contado a partir da borda*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%; /*largura*/
    height: auto; /*altura*/
}

/*==== VARIABLES =======*/
:root {
    --header-height: 4.5rem;

    /*colors*/
    --hue: 157;/*permite mudar as cores*/
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);

}

/*==== BASE =======*/
body {
    font: 400 1rem "DM Sans", sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased; /*afina a letra*/
}

.title {
    font: 700 1.85rem "Poppins", sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem 'DM Sans', sans-serif;
    transition: background 0.3s;
}

.button:hover {
   background: var(--base-color-alt);
}

.divider-1{
    height: 1px;
    background: linear-gradient(270deg, hwb(var(--hue) 41% 27%) 0%, hsla(var(--hue), 65%, 88%, 0.34) 100%)
}

/*==== LAYOUT =======*/
.container{
    /*margin: 0 auto; (em cima e embaixo) auto:computador preenche com o que ele tiver*/
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;/*habilita novas funcionalidades*/
    gap: 1.5rem;
}

.section {
    padding: 5rem 0;
}

#header {
    border-bottom: 1px solid #e4e4e4;/*borda abaixo*/
    margin-bottom: 2rem; /*margem abaixo*/ 
    display: flex; 
    
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100;/*positivo em cima , negativo em baixo*/
    background-color: var(--body-color);
}

main {
    margin-top: calc( var(--header-height) + 2rem);

}

/*==== LOGO =======*/

.logo {
    font: 700 1.31rem 'Poppins', sans-serif;
    color: var(--title-color);
}

.logo span {
    color: var(--base-color);
}

/*==== NAV =======*/

nav {
    height: var(--header-height);
    display: flex; /*flex=elemento ao lado do outro*/
    align-items: center; /*alinha o texto*/
    justify-content: space-between; /*justifica o contúdo*/
    width: 100%;
}

nav ul li {
    text-align: center;/*alinha o texto*/
}

nav ul li a {
    transition: 0.2s;
    position: relative;
}

nav ul li a:hover {/*quando pasar o mause muda*/
   color: var(--base-color);
}

nav ul li a::after { /*após*/
    content: "";
    width: 0;
    height: 2px;
    background: var(--base-color);

    position: absolute; 
    left: 0;
    bottom: -1.5rem;
    transition: width 0.2s; 

}

nav ul li a:hover::after {
    width: 100%;

}

nav .menu {
    opacity: 0; /*invisivel, mas ainda dá click*/
    visibility: hidden;/*deixa escondido*/
}

/* MOSTRAR MENU */
nav.show .menu {
    opacity: 1;
    visibility: visible;

    background: var(--body-color);
    height: 100vh;/*vh = altura do dispositivo*/
    width: 100vh;/*vh = largura do dispositivo*/

    position: fixed;/*fixa na página*/
    left: 0;
    top: 0;
}

nav.show .menu {
    display: grid;
    place-content: center;/*coloca os elementos no meio da tela*/
}

nav.show ul.grid{
    gap: 4rem;

}

/*==== HOME =======*/

#home {
    overflow: hidden;
}
#home .container {
    margin: 0;  
}

#home .image {
    position: relative;
}

#home .image img {
    position: relative;
    right: 2.93rem;

}

#home .image::before { /*elemento fantasma antes do conteúdo*/
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0; /*z=eixo de profundidade*/

}
#home .image img, #home .image::before {
    border-radius: 0.25rem;
}

#home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;  
    text-align: center;
}

#home .text h1 {
    margin-bottom: 1rem;

}

#home .text p {
    margin-bottom: 2rem;
    max-width: 100%;/*largura máxima*/
}